/*bootstrap CSS import*/
@import url(css/bootstrap.min.css);


/*basic css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: roboto, arial, sans-serif !important;
    text-decoration: none;
    min-height: 140vh;
    background: #f1f3f6;
}
div{
    display: block;
}


/* product nav styling */
.heading_categories{
    background: #fff;
    justify-content: center;
    min-height: 112px;
    border-bottom: 2px solid lightgray;
}
.heading_category_list{
    list-style: none;
    max-width: 1280px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: -2rem;
    margin-top: 0;
}

.heading_category_items{
    padding: 12px 8px; 
    cursor: pointer;
    text-align: center;
 }
 .heading_category_items:hover{
    color: #2874f0;
}
.cat_image{
    height: 64px;
    width: 64px;
    margin-bottom: 3px;
}
.heading_item_name{
    font-size: 14px;
    font-weight: 550;
}
.heading_category_items:first-child{
    padding-left: 22px;

}

.heading_category_items:last-child{
    padding-right: 22px;
}
.pointer{
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
    position: relative;
    top: 10px;
    left: 50%;

}